@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #ecf0f1;
  font: 13.34px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h2 { font-size: 125%; }
p { margin: 1em 0; }

a { 
   color: #3498DB;
   text-decoration: none;
}

a:hover { color: #2980B9; }

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 75%;
  margin-right: 1em;
}

.site {
  font-size: 115%;
  text-align: justify;
  margin: 2em auto 0.5em;
  line-height: 1.5em;
  max-width: 42em;
  padding-left: 18px;
  padding-right: 18px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 1em;
}

.title a {
  color: #e74c3c;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #95a5a6;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #7f8c8d;
}

.meta {
  color: #aaa;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

code,
pre {
   font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
   padding: .25em .5em;
   font-size: 75%;
   color: #bf616a;
   background-color: transparent;
   border-radius: 3px;
}
pre {
   display: block;
   margin: 0 0 14px;
   padding: 10px 20px;
   font-size: 16px;
   line-height: 1.4;
   white-space: pre;
   white-space: pre-wrap;
   word-break: break-all;
   word-wrap: break-word;
   background-color: #eee;
}
pre code {
   padding: 0;
   font-size: 80%;
   color: inherit;
   background-color: transparent;
}
.highlight {
   margin-bottom: 15px;
   border-radius: 4px;
}
.highlight pre {
   margin-bottom: 0;
}

blockquote {
   padding: 0px 18px;
   margin: 15px 0;
   border-left: 5px solid #34495e;
}

blockquote p {
   margin-bottom: 0;
   color: #7a7a7a;
}

.post img {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   text-align: center;

   max-width: 100%;
   vertical-align: middle;
   page-break-inside: avoid;
}

.emptiness {
   color: transparent;
   height: 2.5em;
}
